body{
    width: 100%;
    margin: auto;
    background-color: rgb(250, 210, 250);
}

.content{
    width: 100%;
}

.image{
    float: left;
    margin: 15px;
}

.container{
    margin: 50px;
}
.CV{
    margin: 15px;
    padding: 10px;
}

.elochess{
    clear: left;
}

.text{
    text-align: justify;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

h1{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: purple;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.elochess{
    margin: 15px;
    padding: 10px;
}

.ELO{
    margin: 15px;
    padding: 10px;
}

a{
    text-decoration: none;
    padding: 1px;
    margin: 5px;
}

a:link{
    color: black;
    background-color: magenta;
    
}

a:visited{
    color: black;
}

a:hover{
    background-color: white;
    color: lawngreen;
}


@media screen and (max-width: 600px) {
    body{
        width: 100%
    }
    
}

@media screen and (max-width: 400px){
    body{
        width: 100%;
    }
    .image{
        float: none;
    }
}

.feladvany{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    

}

.feladvany div{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 15px;
}

#fin_img{
    
    row-gap: 2;
}

#fin0{
    row-gap: 1;
}

#chessboard{
    display: block;
    margin: auto;
    justify-self:center;
    width: 300px;
    z-index: 1;
    
}

.figure{
    display: inline-block;
    width: 27px;
}

.open{
    width: 100px;
}

