body{
    width: 100%;
    margin: auto;
    background-color: rgb(250, 210, 250);
}

.content{
    width: 100%;
}

.image{
    float: left;
    margin: 15px;
}

.container{
    margin: 50px;
}
.CV{
    margin: 15px;
    padding: 10px;
}

.elochess{
    clear: left;
}

.text{
    text-align: justify;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

h1{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: purple;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.elochess{
    margin: 15px;
    padding: 10px;
}

.ELO{
    margin: 15px;
    padding: 10px;
}

a{
    text-decoration: none;
    padding: 1px;
    margin: 5px;
}

a:link{
    color: black;
    background-color: magenta;
    
}

a:visited{
    color: black;
}

a:hover{
    background-color: white;
    color: lawngreen;
}


@media screen and (max-width: 600px) {
    body{
        width: 100%
    }#open_reti0{
        border: 3px solid lawngreen;
        position: relative;
        z-index: 5;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti1{
        border: 3px solid red;
        position: relative;
        z-index: 4;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti2{
        border: 3px solid purple;
        position: relative;
        z-index: 3;
        left: 0px
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti3{
        border: 3px solid brown;
        position: relative;
        z-index: 2;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti4{
        border: 3px solid turquoise;
        position: relative;
        z-index: 1;
        left: none;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
}

@media screen and (max-width: 400px){
    body{
        width: 100%;
    }
    .image{
        float: none;
    }
    #open_reti0{
        border: 3px solid lawngreen;
        position: relative;
        z-index: 5;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti1{
        border: 3px solid red;
        position: relative;
        z-index: 4;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti2{
        border: 3px solid purple;
        position: relative;
        z-index: 3;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti3{
        border: 3px solid brown;
        position: relative;
        z-index: 2;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    
    #open_reti4{
        border: 3px solid turquoise;
        position: relative;
        z-index: 1;
        left: 0px;
        transition: width 2s, transform 2s;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
}

.feladvany{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    

}

.feladvany div{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 15px;
}



.table{
    margin: 15px;
    padding: 10px;
}

.open{
    display: inline-block;
    width: 150px;
    
}

#open_reti0{
    border: 3px solid lawngreen;
    position: relative;
    z-index: 5;
    transition: width 2s, transform 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#open_reti1{
    border: 3px solid red;
    position: relative;
    z-index: 4;
    left: -120px;
    transition: width 2s, transform 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#open_reti2{
    border: 3px solid purple;
    position: relative;
    z-index: 3;
    left: -240px;
    transition: width 2s, transform 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#open_reti3{
    border: 3px solid brown;
    position: relative;
    z-index: 2;
    left: -360px;
    transition: width 2s, transform 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#open_reti4{
    border: 3px solid turquoise;
    position: relative;
    z-index: 1;
    left: -480px;
    transition: width 2s, transform 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#open_reti1:hover{
    transform: translate(480px)
}

#open_reti2:hover{
    transform: translate(480px)
}

#open_reti3:hover{
    transform: translate(480px)
}
#open_reti4:hover{
    transform: translate(480px)
}